<div id="eventshow" class="uidialog eventdialog" aria-hidden="true">
	<h1 id="event-title">Event Title</h1>
	<div class="event-section" id="event-location">Location</div>
	<div class="event-section" id="event-date">From-To</div>
	<div class="event-section" id="event-description">
		<h5 class="label"><roundcube:label name="calendar.description" /></h5>
		<div class="event-text"></div>
	</div>
	<div class="event-section" id="event-url">
		<h5 class="label"><roundcube:label name="calendar.url" /></h5>
		<div class="event-text"></div>
	</div>
	<div class="event-section" id="event-repeat">
		<h5 class="label"><roundcube:label name="calendar.repeat" /></h5>
		<div class="event-text"></div>
	</div>
	<div class="event-section" id="event-alarm">
		<h5 class="label"><roundcube:label name="calendar.alarms" /></h5>
		<div class="event-text"></div>
	</div>
	<div class="event-section event-attendees" id="event-attendees">
		<h5 class="label"><roundcube:label name="calendar.tabattendees" /></h5>
		<div class="event-text"></div>
	</div>
	<div class="event-line" id="event-partstat">
		<label><roundcube:label name="calendar.mystatus" /></label>
		<span class="changersvp" role="button" tabindex="0" title="<roundcube:label name='calendar.changepartstat' />">
			<span class="event-text"></span>
			<a class="iconbutton edit"><roundcube:label name='calendar.changepartstat' /></a>
		</span>
	</div>
	<div class="event-line" id="event-calendar">
		<label><roundcube:label name="calendar.calendar" /></label>
		<span class="event-text">Default</span>
	</div>
	<div class="event-line" id="event-category">
		<label><roundcube:label name="calendar.category" /></label>
		<span class="event-text"></span>
	</div>
	<div class="event-line" id="event-status">
		<label><roundcube:label name="calendar.status" /></label>
		<span class="event-text"></span>
	</div>
	<div class="event-line" id="event-free-busy">
		<label><roundcube:label name="calendar.freebusy" /></label>
		<span class="event-text"></span>
	</div>
	<div class="event-line" id="event-priority">
		<label><roundcube:label name="calendar.priority" /></label>
		<span class="event-text"></span>
	</div>
	<div class="event-line" id="event-sensitivity">
		<label><roundcube:label name="calendar.sensitivity" /></label>
		<span class="event-text"></span>
	</div>
	<div class="event-section" id="event-attachments">
		<label><roundcube:label name="attachments" /></label>
		<div class="event-text"></div>
	</div>
	<div class="event-line" id="event-created-changed">
		<label><roundcube:label name="calendar.created" /></label>
		<span class="event-text event-created"></span>
		<label><roundcube:label name="calendar.changed" /></label>
		<span class="event-text event-changed"></span>
	</div>
	<div class="event-line" id="event-rsvp-comment">
		<label><roundcube:label name="calendar.rsvpcomment" /></label>
		<span class="event-text"></span>
	</div>

	<roundcube:object name="plugin.event_rsvp_buttons" id="event-rsvp" class="event-dialog-message" style="display:none" />
</div>

<div id="eventoptionsmenu" class="popupmenu" aria-hidden="true">
	<h3 id="aria-label-eventoptions" class="voice"><roundcube:label name="calendar.eventoptions" /></h3>
	<ul id="eventoptionsmenu-menu" class="toolbarmenu" role="menu" aria-labelledby="aria-label-eventoptions">
		<li role="menuitem"><roundcube:button command="event-download" label="download" classAct="active" /></li>
		<li role="menuitem"><roundcube:button command="event-sendbymail" label="send" classAct="active" /></li>
	</ul>
</div>
