/*** Printing styles for Calendar plugin ***/

body {
	margin: 0 0 1em 0;
	color: #000;
	background: #fff;
}

body, td, th, div, p, h3, select, input, textarea {
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

#calendar {
	position: relative;
	top: 0;
	left: 0;
	height: auto;
	margin: 5em auto 0 auto;
	overflow: visible;
}

#calendar .fc-header-right {
	padding-right: 0;
}

#printconfig {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	padding: 0.5em;
	background: #ebebeb;
	border-bottom: 1px solid #999;
	box-shadow: 0 3px 4px #ccc;
	-moz-box-shadow: 0 3px 4px #ccc;
	-webkit-box-shadow: 0 3px 4px #ccc;
}

#printconfig .prop {
	padding-right: 2em;
}

#message {
	position: absolute;
	top: 5.5em;
	left: 1em;
}

#message div.loading {
	color: #666;
	font-style: italic;
}

#calendarlist {
	list-style: none;
	margin: 2em 0;
	padding-left: 1em;
}

#calendarlist ul {
	float: left;
	list-style: none;
	padding-left: 0;
}

#calendarlist li {
	float: left;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	font-weight: bold;
}

#calendarlist li div {
	float: left;
	padding-right: 3em;
	padding-bottom: 1em;
}

#calendarlist li div a {
	color: inherit;
	text-decoration: none;
}

#calendarlist input,
#calendarlist .handle {
	display: none;
}

#calendarlist li.x-invitations div {
	color: #999;
	font-style: italic;
}

.calwidth {
	width: 700px;
	margin: 0 auto;
}

.rightalign {
	float: right;
	padding-top: 0.3em;
}

@media print {
	.noprint,
	.fc-right {
		display: none;
	}
	
	#calendar {
		margin-top: 0;
	}
}

/* fullcalendar style overrides */

.fc-view {
	overflow: visible;
}

.fc-unthemed td.fc-day.fc-today {
	background: transparent;
}

a.fc-event,
a.fc-event:hover {
	color: black;
	background-color: #fff !important;
}

.fc-title {
	font-weight: bold;
}

.fc-event-cateories {
	font-style: italic;
}

.fc-event-location {
	font-size: 90%;
}

.fc-agenda-slots td div {
	height: 1.4em;
}

.fc-axis,
.fc-week-number,
.fc-day-number,
.fc-view thead th.fc-widget-header {
	color: #444;
}

.fc-widget-header,
.fc-mon, .fc-tue, .fc-wed, .fc-thu, .fc-fri {
	background-color: #fff;
}

.fc-widget-header, .fc-widget-content {
	border-color: #ccc;
}

.fc-list-table tr.fc-list-item td,
.fc-list-view {
	border: 0 !important;
}

.fc-list-table tr:first-child td {
	border-top-width: 1px;
}

.fc-event-description {
	font-size: 90%;
}

col.fc-event-location {
	width: 20%;
}

.fc-event-row-secondary td {
	border: 0;
	padding-top: 0 !important;
}

.fc-scroller {
	overflow: visible !important;
	height: auto !important;
}
.fc-head .fc-row,
.fc-day-grid .fc-row {
	margin-right: 0 !important;
	border-right-width: 0 !important;
}
